openapi: 3.1.0
info:
  title: Player2 Web API
  x-logo:
    url: 'https://player2.game/assets/logo.png'
    altText: Player2 logo
  termsOfService: https://player2.game/devtos
  contact:
    name: support@elefant.gg
  license:
      name: Player2 API Terms of Service
      url: https://player2.game/devtos
  version: 1.0.0
servers:
  - url: https://api.player2.game/v1
x-tagGroups:
  - name: Overview
    tags:
      - Introduction
      - Authentication
      - Health
  - name: Auth Flows
    tags:
      - Device Authorization Flow
      - Authorization Code Flow
  - name: Chat
    tags:
      - Completions
  - name: Embeddings
    tags:
      - Embeddings
  - name: Image
    tags:
      - Image Generation
  - name: Video
    tags:
      - Video Generation
  - name: 3D Models
    tags:
      - 3D Model Generation
  - name: Speech
    tags:
      - Text To Speech
      - Speech To Text
  - name: Characters
    tags:
      - Characters
  - name: Account
    tags:
      - Joules
  - name: Minecraft
    tags:
      - Minecraft Schematics
  - name: NPC API
    tags:
      - NPC
  - name: Asset Management
    tags:
      - Projects
      - Worlds
      - Characters
      - Versions
      - Generation
      - Processing
      - Jobs
      - Templates
      - Styles
      - Uploads
      - Streams
  - name: Game Data
    tags:
      - Game Data
  - name: Assets
    tags:
      - Assets
tags:
  - name: Introduction
    description: |
      The Player2 API gives developers free access to tools for building their own AI powered games.
      If you have any questions or need help, please join our [Discord server](https://discord.gg/D5RykZHJUG).

      The Player2 API exposes two ways of creating AI NPCs in your games

      1. The high-level easy to use [NPC API](#tag/NPC)
      2. The more advanced [completions](#tag/Completions) endpoint

      # Joules and AI Power

      All AI operations in the Player2 API consume **joules**, which represent your user's available "AI power" for making requests to our AI services including chat completions, character interactions, text-to-speech, and speech-to-text operations.

      - **Joule Consumption**: Each AI request consumes a certain amount of joules based on the complexity and length of the operation
      - **Balance Tracking**: You can check your user's current joule balance and patron tier using the [GET /joules](#tag/Joules) endpoint
      - **Insufficient Joules**: When the joule balance is too low, API requests will return an `insufficient_credits` error with guidance on topping up the account
      - **Patron Benefits**: Patron subscribers receive additional joules and benefits based on their tier level

      Monitor your user's joule usage to ensure uninterrupted service. The joules endpoint provides real-time balance information to help you implement appropriate user notifications and upgrade prompts.

      **NOTE**: By using the Player2 API you agree to our [Terms of Service](https://player2.game/devtos).

  - name: Authentication
    description: |
      Calls to the Player2 Web API require authentication. There are a few ways to authenticate your users depending on where your game runs:

      1. **Hosted on player2.game.**
        This is the _easiest way_ for users to play your game on the web because they're already authenticated to the Player2 website.
        Simply use `https://api.player2.game/v1` as the base URL for all your API requests.
      2. **Desktop or browser games and user has the Player2 App running.**
        If not hosted on `player2.game` but user has the player2 app you can simply
        call `POST http://localhost:4315/v1/login/web/{game_client_id}` and get the response
        `{"p2Key": <api-key>}` that you can use to authenticate their requests with the web api.
        This is the easiest way to authenticate if they have the Player2 App and are already logged into it. You can find
        your game client id in the [Developer Dashboard](https://player2.game/profile/developer).

      3. **Games on browser or in apps that can be redirected to.**
        If your game can handle HTTP redirects you can use the Authorization Code OAuth2 Flow to authenticate users. They will
        be taken to Player2's auth screen and then automatically redirected back to your game. See the flows below for more details.

      4. **Games on devices that don't have a browser or webview.**
        If your game can't handle HTTP redirects you can use the Device Code OAuth2 Flow to authenticate users. See the flows below for more details.

      For the off player2.game auth methods you will receive a `p2Key` in the response. You can use this to authenticate their requests with the following header

      ```
      Authorization: Bearer <api-key>
      ```

      **IMPORTANT**: You should never store user credentials outside of the user's device. Any unauthorized usage of a user's api
      key will be considered a violation of our [Terms of Service](https://player2.game/devtos).

  - name: Device Authorization Flow
    description: |
      The device authorization flow is used to authenticate a user on a device that may not have a browser, a webview, or easy
      redirect access to your game. We follow the [OAuth 2.0 Device Authorization Grant](https://oauth.net/2/device-flow/). The
      flow is as follows:
      1. Start the flow by calling `/login/device/new` - this could be when a user clicks a button to login in your game.
      2. The game provides the `verificationUri` and `userCode` (or `verificationUriComplete`) to the user to approve access.
      3. The user approves the game to access the API on their behalf.
      4. While the user is approving access you should poll the `/login/device/token` endpoint at the `interval` provided in the response.
      5. Once the user has approved access you will receive a `p2Key` in the response.

  - name: Authorization Code Flow
    description: |
      The authorization code flow is used to authenticate users in web applications or games that can handle HTTP redirects.
      We follow the [OAuth 2.0 Authorization Code Grant with PKCE](https://oauth.net/2/pkce/). The flow is as follows:

      ## PKCE Security Implementation

      PKCE (Proof Key for Code Exchange) adds security by using dynamically generated secrets that prevent authorization code interception attacks. Here's what you need to implement:

      ### 1. Generate Code Verifier and Code Challenge

      **Code Verifier**: A cryptographically random string (43-128 characters) using unreserved characters [A-Z] / [a-z] / [0-9] / "-" / "." / "_" / "~"

      **Code Challenge**: A base64url-encoded SHA256 hash of the code verifier

      **Code Challenge Method**: Always use `"S256"` (SHA256 hashing)

      ```javascript
      // Example implementation in JavaScript
      function generateCodeVerifier() {
        const array = new Uint8Array(32);
        crypto.getRandomValues(array);
        return base64URLEncode(array);
      }

      async function generateCodeChallenge(verifier) {
        const encoder = new TextEncoder();
        const data = encoder.encode(verifier);
        const digest = await crypto.subtle.digest('SHA-256', data);
        return base64URLEncode(new Uint8Array(digest));
      }

      function base64URLEncode(array) {
        return btoa(String.fromCharCode(...array))
          .replace(/=/g, '')
          .replace(/\+/g, '-')
          .replace(/\//g, '_');
      }
      ```

      ### 2. Complete Authorization Flow

      1. **Generate PKCE parameters** in your client application:
         - Create a `code_verifier` (random 43-128 character string)
         - Generate `code_challenge` (base64url-encoded SHA256 hash of verifier)
         - Set `code_challenge_method` to `"S256"`

      2. **Redirect user to authorization server** with parameters:
         - `client_id`: Your Game Client ID from the Developer Dashboard
         - `redirect_uri`: Your registered callback URL
         - `code_challenge`: The generated challenge
         - `code_challenge_method`: `"S256"`
         - `response_type`: `"code"`

      3. **User approves access** on the authorization server

      4. **Authorization server redirects** back to your `redirect_uri` with an `authorization_code`

      5. **Exchange code for API key** by calling `/login/authorization_code/token` with:
         - The received `authorization_code`
         - Your original `code_verifier` (NOT the challenge)
         - Other required parameters

      ### Authorization URL Construction

      When redirecting users to the authorization server, construct the URL like this:

      ```
      https://player2.game/authorize?
        response_type=code&
        client_id=YOUR_CLIENT_ID&
        redirect_uri=YOUR_ENCODED_REDIRECT_URI&
        code_challenge=GENERATED_CODE_CHALLENGE&
        code_challenge_method=S256&
        state=OPTIONAL_STATE_PARAMETER
      ```

      **Important**: URL-encode all parameter values, especially the `redirect_uri`.

      ### Security Benefits

      - **Dynamic secrets**: Each authorization request uses unique, randomly generated values
      - **Interception protection**: Even if the authorization code is intercepted, it cannot be used without the original code verifier
      - **No client secret required**: Perfect for public clients like mobile apps and SPAs where secrets cannot be securely stored

  - name: Chat
    description: Create a chat response from the given chat messages.

  - name: Health
    description: |
      Check the health of the API. This endpoint is used to verify that the API is running, that you have correct credentials, and is
      used to track usage of your game. You should call this endpoint every 60 seconds so that we can attribute usage to your game.

  - name: NPC
    description: |
        The NPC API provides a complete solution for creating and managing AI-powered Non-Player Characters in your games. This high-level API handles conversation history, personality persistence, and real-time response streaming, so you can focus on your game logic.

        ## Quick Start Workflow

        1. **Spawn an NPC** using `/npcs/spawn` with personality, voice, and functions
        2. **Send player messages** to `/npcs/{npc_id}/chat` with game context
        3. **Listen for responses** on the streaming `/npcs/responses` endpoint
        4. **Remove NPCs** when no longer needed with `/npcs/{npc_id}/kill`

        ## Key Features

        - **Persistent Conversations**: Each NPC maintains its own conversation history and personality
        - **Game State Integration**: Include dynamic game context in every message
        - **Function Execution**: NPCs can execute custom commands/actions in your game
        - **Voice Responses**: Optional text-to-speech audio for immersive experiences
        - **Real-time Streaming**: Get responses as they're generated for responsive gameplay

        ## Example Usage

        ```bash
        # 1. Create an NPC
        curl -X POST "https://api.player2.game/v1/npcs/spawn" \
          -H "Authorization: Bearer YOUR_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "name": "Captain Blackbeard",
            "short_name": "Captain",
            "character_description": "A weathered pirate captain with a love for treasure and adventure",
            "system_prompt": "You are Captain Blackbeard, speak like a pirate and help players find treasure",
            "tts": {
              "voice_ids": ["01955d76-ed5b-753f-9f74-c0674216f0f5"],
              "speed": 1.0,
              "audio_format": "mp3"
            }
          }'

        # 2. Send a message to the NPC
        curl -X POST "https://api.player2.game/v1/npcs/{npc_id}/chat" \
          -H "Authorization: Bearer YOUR_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "sender_name": "PlayerOne",
            "sender_message": "Hello Captain! Where can I find treasure?",
            "game_state_info": "Player is on a tropical island with palm trees and a beach",
            "tts": "server"
          }'

        # 3. Listen for responses (keep this connection open)
        curl -X GET "https://api.player2.game/v1/npcs/responses" \
          -H "Authorization: Bearer YOUR_TOKEN"
        ```

  - name: Text To Speech
    description: |
      The text to speech (TTS) API allows you add vibrant voices to your game from plain text.
  - name: Speech To Text
    description: |
      The speech to text (STT) API allows you to convert audio from the user's microphone into text in real-time via WebSocket connection.
  - name: Characters
    description: |
      The characters API allows you to get the list of characters the user selected as "My AI Friends" characters in the Player2 website or desktop app.
  - name: Minecraft Schematics
    description: |
      The Minecraft schematics API allows you to retrieve Minecraft schematic files by their ID for use in your games.

  - name: Game Data
    description: |
      The Game Data API provides persistent key-value storage for your games. Data is stored as string key-value pairs with a 4MB quota per store.

      Two scopes are supported:

      - **User scope** (`/data/user/...`): Per-user data private to each player. Any authenticated user can read and write their own data.
      - **Global scope** (`/data/global/...`): Shared game data readable by all players. Only the game creator can write or delete global data.

      ## Key Features

      - **Simple key-value storage**: Store any string value under a string key (max 255 chars)
      - **4MB quota**: Each store (per-user or global) has a 4MB total size limit (key + value bytes)
      - **Batch operations**: Get, set, and delete multiple keys in a single atomic request
      - **Fast reads**: Frequently accessed values are cached in Redis for low-latency retrieval

      ## Quick Start

      ```bash
      # Store a value
      curl -X PUT "https://api.player2.game/v1/games/{game_id}/data/user/player_level" \
        -H "Authorization: Bearer YOUR_TOKEN" \
        -H "Content-Type: application/json" \
        -d '{"value": "42"}'

      # Retrieve a value
      curl -X GET "https://api.player2.game/v1/games/{game_id}/data/user/player_level" \
        -H "Authorization: Bearer YOUR_TOKEN"
      ```

  - name: Assets
    description: |
      The Assets API lets you browse, list, and manage uploaded assets (images, videos, audio, 3D models, sprites, schematics, etc.).

      - **List assets**: Browse public assets or your own uploads with optional filters
      - **Update assets**: Change name, description, visibility, and category of your assets

  - name: Projects
    description: |
      Projects are top-level organizational containers for assets and worlds.

      - **Create projects**: Organize your assets and worlds into named projects
      - **List projects**: Browse all your projects with cursor-based pagination
      - **Update projects**: Rename or change description of a project
      - **Delete projects**: Remove a project (assets and worlds remain, just detached)

paths:
  /assets:
    get:
      operationId: listAssets
      summary: List assets
      description: |
        List assets with optional filters for public visibility, store category, and scope.
        By default returns public assets. Set `public_only=false` to list your own assets.
        Supports cursor-based pagination using the `after` parameter with UUID7 asset IDs.
      tags:
        - Assets
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - name: public_only
          in: query
          description: If true (default), only return public assets. If false, return your own assets.
          schema:
            type: boolean
            default: true
        - name: store_category
          in: query
          description: Filter by store category
          schema:
            type: string
            enum: [img, vid, audio, 3d, sprite, schematic, music, npc, map]
        - name: scope
          in: query
          description: Filter by asset scope (e.g. game_card, agent, web_game)
          schema:
            type: string
        - name: after
          in: query
          description: Cursor for pagination - pass the last asset ID from the previous page
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Maximum number of assets to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: search
          in: query
          description: Full-text search query. When provided and sort_by is not set, results are sorted by relevance.
          schema:
            type: string
        - name: sort_by
          in: query
          description: Sort order — "recent" (default without search), "popular", or "relevance" (default with search)
          schema:
            type: string
            enum: [recent, popular, relevance]
            default: recent
        - name: page_token
          in: query
          description: Opaque pagination token from a previous response's next_page_token field
          schema:
            type: string
        - name: project_id
          in: query
          description: Filter assets by project ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of assets
          content:
            application/json:
              schema:
                type: object
                required:
                  - assets
                properties:
                  assets:
                    type: array
                    items:
                      $ref: '#/components/schemas/AssetListItem'
                  next_page_token:
                    type: string
                    description: Opaque token to pass as page_token for the next page. Empty when no more results.
        '401':
          description: Unauthorized
  /assets/{assetId}:
    get:
      operationId: getAsset
      summary: Get asset details
      description: |
        Get details of a single asset. Public assets are accessible to anyone.
        Private assets are only accessible by the asset owner.
      tags:
        - Assets
      security: []
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Asset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetListItem'
        '400':
          description: Invalid asset ID
        '404':
          description: Asset not found
    patch:
      operationId: updateAsset
      summary: Update asset metadata
      description: |
        Update an asset's name, description, public visibility, or store category.
        Only the asset owner can update their assets. All fields are optional.
      tags:
        - Assets
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetUpdateRequest'
      responses:
        '200':
          description: Updated asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetListItem'
        '401':
          description: Unauthorized
        '404':
          description: Asset not found or not owned by you
    delete:
      operationId: deleteAsset
      summary: Delete an asset
      description: |
        Soft-deletes an asset. Only the asset owner can delete their assets.
        The asset will no longer appear in listings or be accessible.
      tags:
        - Assets
      security:
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Asset deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Asset not found or not owned by you
  /chat/completions:
    post:
      tags:
        - Completions
      summary: Create chat completion
      description: |-
        Creates a chat response for the provided messages. This endpoint supports both
        streaming and non-streaming responses based on the `stream` parameter in the request.

        - If `stream` is `false` or not provided, returns a standard JSON response.
        - If `stream` is `true`, returns a Server-Sent Events (SSE) stream.

        This is intended to follow the [OpenAI API](https://platform.openai.com/docs/api-reference/chat).
      operationId: chat_completion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
            examples:
              text:
                value:
                  messages:
                    - content: You are an entertaining assistant who tries to make jokes.
                      role: system
                    - content: Hello, how are you doing today?
                      role: user
                  stream: false
              image:
                value:
                  messages:
                    - content: You are a meticulous game art critic who scrutinizes every pixel and never overlooks a single detail.
                      role: system
                    - content:
                        - text: What is in this image?
                          type: text
                        - image_url:
                            url: data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD//gAwSlBHIGNvbXByZXNzZWQgd2l0aCBodHRwczovL2V6Z2lmLmNvbS9vcHRpanBlZ//bAEMAEAsMDgwKEA4NDhIREBMYKBoYFhYYMSMlHSg6Mz08OTM4N0BIXE5ARFdFNzhQbVFXX2JnaGc+TXF5cGR4XGVnY//bAEMBERISGBUYLxoaL2NCOEJjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY//AABEIAIAAgAMBIgACEQEDEQH/xAAbAAEAAwADAQAAAAAAAAAAAAAABQYHAgMEAf/EAEEQAAEEAQMBAwUMCAcBAAAAAAEAAgMEEQUGEiETMUEHFiJRYRQVNXFyc5GTsbLB0TIzN1RVY3SBJTRCYmShosL/xAAaAQEAAwEBAQAAAAAAAAAAAAAAAgMEBQEG/8QAIhEBAAICAQQCAwAAAAAAAAAAAAECAxEEEiEiQRMxFFFh/9oADAMBAAIRAxEAPwC/IiICIiAiIgIiICIiAiIgIiICIiAiIgKO1jWamjRxSW+0xI4tbwby64UioPdGhS65BXjinZEYnlxLmk5yMIPN586P67H1S92kbjoaxYfBUMvNjOZ5s4jGcfisuvVnUrs9Vzg50LywuAxnC0Da22ZtGuPtSWY5WyRcQ1rSMdQfwQWhR13WqdGcRTF5cW8vRbkLs1ieSrpc80LuMjAC04z4hUJ7i97nO73Ek/GqcuSadobeLxoyxNrfS4+c2n/zvq1KQTMsQsljOWvaHD+/VZyvXT1K1RjfHWkDGvOSOIPX6FXXPO/JpycCsx4T3/q229dpU7DoZS8uaAfRbkdV8q69StWGQxmQPf3cm4HdnvVITvUfnttP8DHrW+7S0UVt21Nb03nO7k5ry0HAHQYUqtdZ3G3JvSaWms+hEReoCIiAiIgyDcHw9qP9Q/7VrkP6lnyR9iyPcHw9qP8AUP8AtWuQ/qWfJH2IPDuD4EtfJH3gqKtKIBGCMj1FVLXdEdWcbFZpdE4+k3q5wJySe7uWbPSZ8odLg5q18J9oJERZXVERSujaM/UJOcwLa4/S72lwIPcVKtZtOoQvetK9Vk5tT4JPzrvwU0uMbGxsDGDAAwuS31jpiIfP5b9d5t+xERSViIiAobcWvDQoYJDWM/avLcB/HGBn1KZUXrmh19biijsSSsETi4dmR4jHiEGWahZ926hYtcOHbSOfxznGT3LRNt7nGtWXVRUMPZxc+Rk5ZwQPV7V5vMHTf3q39LfyUjom2ami2n2K80z3PZwIkIxjIPgPYgm18cA5paRkEYK+ogqOu6IarjYqsPYnq5jR0jAA9qglpLmte0te0Oae8EZBVfn202TUg5rnCs/LnkEAtd4ADHcsuTD33V1OPzI6enJ6RmiaQ+/KJZAWwNOckZD8Hq1XKGJkETYomhrGjDQPAJHGyJnCNjWN9TRhc1dSkUhjz57Zrbn6ERFYziIiD4vHNq+nQSuimvVo5GHDmukAIXtWZanSGo75npueYxNPxLgMkejlBo1W3WuRl9WeOZgOC6NwcAVwfqFKO0Kr7ULbBIAiLxyJPd0VHlfPszWIa9ew+zBLHzdG88G8ieOenxL7qn7SIfnofuhBoK6LVutTYH2p44WuOAZHBoJXes83jJNa3NHQfO8V3GLDM5DS7pkD19UF2h1bTrEzYoL1eSR36LWSAkrnY1GlVmENi3DFI4Ahj3gE59izrcOju2zPVlqXJXSvDyHgcS3GO7Hxru3U5z9c05ziS414SSfE8ig0G1dq0g027MUAdnj2jw3K65tUoV+HbXa8faN5s5SAcm+sexVbyk/qKHy5PsCht19Ro4/4EaC/e/mk/wASqfWhdkuq6fDHG+W7XYyUcmOdIAHD1hVceT6DAPvjL9WFG72pjToNKqNeZBDA9ocRjOCEF3brelOcGt1GqSTgASjqvXNNHXidLNI2ONoy5zjgD+6zjW9tM0bS4L8VuSR73sAaWAYyCc/9KTs19a1ra2me5JJJjI2T3RmQN5jl0znv7kFsr6pQtSiKvdryyEZDWSAn6F7Flep6fY23fp9jZkZYkhD3lvQsJOC3IWpoHgs1v3I9P35NbmDjHFPlwaASfRx+K0tZvZrxW/KFJXsMEkUljDmnxHBB2Xy7d+u136fG+NkcWC+duBlpzjIz61z1T9pEPz0P3QrvQ0+ppsJipQiGNzuRaCTk93iqLrc0dfyhMmmeGRxyxOc49wHEINEWb7ulbBvFkzwS2MQvIHfgHKuPnPov8Sg+k/kqfupjJt6RMeA5j+xa4esEoOjd2u1dbNY1Y5Wdi1/LtABnOPUfYrHrW3vfGhUvVnhtuGKPq9x48WjPdjvUJvnS6WmOqClXbCJGv5YJOcYx3/GrzH8Ct/ph9xBSKLr+9Lccd18IgqkPeGAscQ7p07+vRcd+QtrX6EEeeEVUMbk5OA4gL0+Tb/MXvm2faV1eUP4YqfMf/RQdun7k3BNfrRTVsRPla159zOGAT16p5SOtmiP5b/tCsw3PouB/iUH0lVXygTxWTp08Dw+N8T3NcO4jIQcNe3DU1nSqun1o5mSiWP0pAA3ux4H2q01Hs21tyKO9Ixzq7DkRnq/0v9OcZ71X90aRQ03QqtunWbDOZY/TBJP6JPj7QvBuSzNc27oliy8yTPEpc4jv6gIOuQ393a20sDWtZyDHuYQ1rQcgEjPVaaqzoOq7f07TYY4rcEMj2NdK3ker+IB/urOg+KE82a3v9779vN23adpw6cc4x6sqcRB8Vf1baNPVdQkuTWJ2PkABazjjoAPEKwogqXmDQ/e7X/n8lIXtr1b2qx6hJPM2RnDDW4x6Pd4KdRBD69t6vrphNiaWPsg4Ds8dc49Y9ikmwNbUFfJ4hnDPjjGF3IghtB25W0N8z680shla1p7THTGfUPauOubZra3ZjnnnmjdGzgAzGMZz4hTaIKl5g0P3u1/5/Jey9tGndqU68lidrakZjaW8cke3orCiCM1bRYdV06OlNLIxkbmuDmYycDHiF4rW0qlrTqVJ9icMqcuLhxy7kfHorAiCpDYNAEH3Xa6H/b+Sti+ogIiICIiAiIgIiICIiAiIgIiICIiD/9k=
                          type: image_url
                      role: user
                  stream: false
              stream:
                value:
                  messages:
                    - content: You are an entertaining assistant who tries to make jokes.
                      role: system
                    - content: Hello, how are you doing today?
                      role: user
                  stream: true
          '*/*':
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionJSONResponse'
              example:
                choices:
                  - finish_reason: stop
                    index: 0
                    message:
                      content: Hello, how can I help you?
                      role: assistant
                created: 1677648672
                id: chatcmpl-123
                model: gpt-3.5-turbo
                object: chat.completion
                usage:
                  completion_tokens: 6
                  prompt_tokens: 25
                  total_tokens: 31
            text/event-stream:
              x-ogen-json-streaming: true
              schema:
                $ref: '#/components/schemas/ChatCompletionStreamingResponse'
              example: |+
                data: {"id":"chatcmpl-123","object":"chat.completion.chunk","choices":[{"delta":{"content":"Hello"}}]}

                data: {"id":"chatcmpl-123","object":"chat.completion.chunk","choices":[{"delta":{"content":", how can I help you?"}}]}

                data: [DONE]

        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
        '401':
          description: The user must be authenticated.
        '402':
          description: Insufficient credits to complete the request.
          content:
            text/plain:
              schema:
                type: string
        '429':
          description: Too many requests have been made to the server.
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error

  /image/generate:
    post:
      tags:
        - Image Generation
      summary: Generate an image from a text prompt
      description: |
        Generate an image using AI from a text prompt. The image is returned as a base64-encoded PNG.
      operationId: image_generate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request to generate image
              required:
                - prompt
              properties:
                prompt:
                  type: string
                  description: The prompt that is used to generate the image.
                height:
                  type: integer
                  minimum: 128
                  maximum: 1024
                  description: Image height
                width:
                  type: integer
                  minimum: 128
                  maximum: 1024
                  description: Image Width
                project_id:
                  type: string
                  format: uuid
                  description: Optional project to assign this generated image asset to
      responses:
        '200':
          description: Successfully generated image
          content:
            application/json:
              schema:
                type: object
                description: Image generation response
                required:
                  - image
                properties:
                  image:
                    type: string
                    description: Base64 encoded PNG image (without data URI prefix)
        '401':
          description: The user must be authenticated.
        '402':
          description: Insufficient credits to complete the request.
        '403':
          description: NSFW content was found to be generated
        '500':
          description: Internal server error
  /image/edit:
    post:
      tags:
        - Image Generation
      summary: Edit an image using AI
      description: |
        Create an image from one or more source images based on a text prompt. When multiple images are provided, they can be combined or used together as context for the generation. The new image is returned as a base64-encoded image.
        You can provide either a single image via the 'image' field or multiple images via the 'images' array.
        Sending multiple images requires a model that supports it (e.g. Nano Banana, Seedream V4, Flux Kontext); single-image models use only the first image.
      operationId: image_edit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request to edit an image
              required:
                - prompt
              properties:
                prompt:
                  type: string
                  description: The prompt that describes the desired edits or how to combine the image(s).
                width:
                  type: integer
                  minimum: 128
                  maximum: 4096
                  description: Optional output image width. Honored exactly by models with custom-size support (e.g. Seedream V4); for aspect-ratio-only models (e.g. Nano Banana, Flux Kontext) width/height are mapped to the nearest supported aspect ratio. Ignored if `aspect_ratio` is provided.
                height:
                  type: integer
                  minimum: 128
                  maximum: 4096
                  description: Optional output image height. See `width` for per-model behavior. Ignored if `aspect_ratio` is provided.
                aspect_ratio:
                  type: string
                  description: 'Optional output aspect ratio in "W:H" form. Supported values: "21:9", "16:9", "3:2", "4:3", "5:4", "1:1", "4:5", "3:4", "2:3", "9:16", "9:21". Takes precedence over width/height. Aspect-ratio models (Nano Banana, Flux Kontext) snap to the nearest supported ratio; custom-size models (Seedream V4) derive dimensions from it.'
                  example: '16:9'
                image:
                  type: string
                  description: Single base64 encoded image data (with or without data URL prefix like "data:image/png;base64,"). Use this for single image editing.
                images:
                  type: array
                  description: Array of base64 encoded image data (with or without data URL prefix like "data:image/png;base64,"). Use this to send multiple images. Only models that support multiple images use more than the first.
                  items:
                    type: string
                  minItems: 1
                project_id:
                  type: string
                  format: uuid
                  description: Optional project to assign this edited image asset to
            examples:
              single:
                summary: Single-image edit
                value:
                  prompt: Add a colorful rainbow arching across the sky and make the grass greener
                  image: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==
              multiple:
                summary: Multi-image edit (compatible models only)
                value:
                  prompt: Combine these two characters into a single scene
                  images:
                    - data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==
                    - data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==
      responses:
        '200':
          description: Successfully edited image
          content:
            application/json:
              schema:
                type: object
                description: Image edit response
                required:
                  - image
                  - mimetype
                properties:
                  image:
                    type: string
                    description: Base64 encoded edited image (without data URI prefix)
                  mimetype:
                    type: string
                    description: Mimetype of the edited image
                  error:
                    type: string
                    description: Error message if the request failed
        '400':
          description: Bad request - invalid input
        '401':
          description: The user must be authenticated.
        '402':
          description: Insufficient credits to complete the request.
        '403':
          description: Project not found or not owned by user.
        '422':
          description: Unable to generate the image due to content policy restrictions. Try rephrasing the prompt or adjusting the input.
        '500':
          description: Internal server error
  /image/generate_job:
    post:
      operationId: image_generate_job
      summary: Generate an image asynchronously from a text prompt
      description: |
        Enqueues an image generation job. The result asset is created automatically
        when the job completes. Listen on GET /jobs/events?type=image_generate for
        real-time status updates via SSE. The job result contains the asset_id.
      tags:
        - Image Generation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerateJobRequest'
      responses:
        '200':
          description: Job created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '401':
          description: Unauthorized
        '402':
          description: Insufficient credits
        '403':
          description: Forbidden (project not owned by user)
        '500':
          description: Internal server error
  /image/edit_job:
    post:
      operationId: image_edit_job
      summary: Edit images asynchronously using AI
      description: |
        Enqueues an image edit job using asset IDs as input. The result asset is
        created automatically when the job completes. Listen on
        GET /jobs/events?type=image_edit for real-time status updates via SSE.
        The job result contains the asset_id.
      tags:
        - Image Generation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageEditJobRequest'
      responses:
        '200':
          description: Job created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '401':
          description: Unauthorized
        '402':
          description: Insufficient credits
        '403':
          description: Forbidden (project or assets not owned by user)
        '500':
          description: Internal server error
  /music/generate_job:
    post:
      operationId: music_generate_job
      summary: Generate music asynchronously from a text prompt
      description: |
        Enqueues a music generation job. The result asset is created automatically
        when the job completes. Listen on GET /jobs/events?type=music for
        real-time status updates via SSE. The job result contains the asset_id.
      tags:
        - Music Generation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateJobRequest'
      responses:
        '200':
          description: Job created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicJobResponse'
        '401':
          description: Unauthorized
        '402':
          description: Insufficient credits
        '403':
          description: Forbidden (project not owned by user)
        '500':
          description: Internal server error
  /video/generate:
    post:
      tags:
        - Video Generation
      summary: Generate a video from a text prompt
      description: |
        Generate a video using AI from a text prompt asynchronously.
        Returns a job_id immediately and processes the video generation in the background.
        Use the /video/job/{job_id} endpoint to check status and retrieve the completed video.
        This operation may take several minutes to complete as video generation is computationally intensive.
        All videos are generated at 480p resolution with 5 seconds duration.
      operationId: video_generate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request to generate video
              required:
                - prompt
              properties:
                prompt:
                  type: string
                  description: The prompt that is used to generate the video. Maximum 1024 tokens.
                  maxLength: 4096
                aspect_ratio:
                  type: string
                  description: Video aspect ratio. Defaults to "1:1" (square) if not specified.
                  enum: ["16:9", "9:16", "1:1", "4:3", "3:4"]
                character_id:
                  type: string
                  format: uuid
                  description: Optional character/personality ID to associate this video with
                project_id:
                  type: string
                  format: uuid
                  description: Optional project to assign this generated video asset to
                name:
                  type: string
                  description: Human-readable name for the asset
                description:
                  type: string
                  description: Description of the asset
      responses:
        '200':
          description: Job created successfully
          content:
            application/json:
              schema:
                type: object
                description: Async response with job ID
                required:
                  - job_id
                properties:
                  job_id:
                    type: string
                    format: uuid
                    description: Job ID for tracking the generation progress
        '401':
          description: The user must be authenticated.
        '402':
          description: Insufficient credits to complete the request.
        '403':
          description: Forbidden - User does not own the specified character.
        '500':
          description: Internal server error or video generation failed
  /video/generate_from_image:
    post:
      tags:
        - Video Generation
      summary: Generate a video from an image and text prompt (Image-to-Video)
      description: |
        Generate a video using AI from a starting image and text prompt asynchronously.
        Returns a job_id immediately and processes the video generation in the background.
        Use the /video/job/{job_id} endpoint to check status and retrieve the completed video.
        This operation may take several minutes to complete as video generation is computationally intensive.
        All videos are generated at 480p resolution with 5 seconds duration.
      operationId: video_generate_from_image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request to generate video from image
              required:
                - prompt
                - image
              properties:
                prompt:
                  type: string
                  description: The prompt that describes how to animate the image. Maximum 1024 tokens.
                  maxLength: 4096
                image:
                  type: string
                  description: >
                    The starting image. Accepts either a UUID of an existing image asset,
                    or base64-encoded image data (with or without data URI prefix).
                    When an asset UUID is provided, the server fetches the image data
                    automatically — the asset must be owned by the caller and have an
                    image/* MIME type.
                aspect_ratio:
                  type: string
                  description: Video aspect ratio. Defaults to "1:1" (square) if not specified.
                  enum: ["16:9", "9:16", "1:1", "4:3", "3:4"]
                character_id:
                  type: string
                  format: uuid
                  description: Optional character/personality ID to associate this video with
                project_id:
                  type: string
                  format: uuid
                  description: Optional project to assign this generated video asset to
                name:
                  type: string
                  description: Human-readable name for the asset
                description:
                  type: string
                  description: Description of the asset
      responses:
        '200':
          description: Job created successfully
          content:
            application/json:
              schema:
                type: object
                description: Async response with job ID
                required:
                  - job_id
                properties:
                  job_id:
                    type: string
                    format: uuid
                    description: Job ID for tracking the generation progress
        '401':
          description: The user must be authenticated.
        '402':
          description: Insufficient credits to complete the request.
        '403':
          description: Forbidden - User does not own the specified character.
        '500':
          description: Internal server error or video generation failed
  /video/transform_image:
    post:
      tags:
        - Video Generation
      summary: Transform an image into a video
      description: |
        Transforms a source image into a video by first editing the image based on the prompt,
        then generating a video from the edited image. This is an atomic operation that combines
        image editing (10J) and video generation (50J) for a total cost of 60J.
        Returns a job_id immediately and processes the transformation in the background.
        Use the /video/job/{job_id} endpoint to check status and retrieve the completed video.
        All videos are generated at 480p resolution with 5 seconds duration.
      operationId: video_transform_image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request to transform an image into a video
              required:
                - prompt
                - image
              properties:
                prompt:
                  type: string
                  description: The prompt describing the desired video transformation. Maximum 1024 tokens.
                  maxLength: 4096
                image:
                  type: string
                  description: >
                    The source image. Accepts either a UUID of an existing image asset,
                    or base64-encoded image data (with or without data URI prefix).
                    When an asset UUID is provided, the server fetches the image data
                    automatically — the asset must be owned by the caller and have an
                    image/* MIME type.
                aspect_ratio:
                  type: string
                  description: Video aspect ratio. Defaults to "1:1" (square) if not specified.
                  enum: ["16:9", "9:16", "1:1", "4:3", "3:4"]
                character_id:
                  type: string
                  format: uuid
                  description: Optional character/personality ID to associate this video with
      responses:
        '200':
          description: Job created successfully
          content:
            application/json:
              schema:
                type: object
                description: Async response with job ID
                required:
                  - job_id
                properties:
                  job_id:
                    type: string
                    format: uuid
                    description: Job ID for tracking the generation progress
        '401':
          description: The user must be authenticated.
        '402':
          description: Insufficient credits to complete the request (requires 40J).
        '403':
          description: Forbidden - User does not own the specified character.
        '500':
          description: Internal server error or video transformation failed
  /video/job/{job_id}:
    get:
      tags:
        - Video Generation
      summary: Get video generation job status
      description: |
        Get the status of a video generation job. Use this endpoint to check if a video generation
        is complete and retrieve the generated video. Jobs persist across page refreshes and can be
        checked from any device.
      operationId: video_get_job
      parameters:
        - name: job_id
          in: path
          required: true
          description: The unique ID of the video generation job
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Job status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                description: Video generation job status
                required:
                  - id
                  - status
                  - created_at
                properties:
                  id:
                    type: string
                    format: uuid
                    description: Unique job ID
                  status:
                    type: string
                    description: Current job status
                    enum: ["pending", "processing", "completed", "failed"]
                  prompt:
                    type: string
                    description: The prompt used for video generation
                  aspect_ratio:
                    type: string
                    description: Video aspect ratio
                    enum: ["16:9", "9:16", "1:1"]
                  video_url:
                    type: string
                    description: Signed URL to download the video (only present when status is "completed"). Preferred over video_data.
                  video_data:
                    type: string
                    deprecated: true
                    description: "DEPRECATED: Use video_url instead. Base64 encoded video."
                  mimetype:
                    type: string
                    deprecated: true
                    description: "DEPRECATED: Use video_url instead."
                    enum: ["video/mp4"]
                  error_message:
                    type: string
                    description: Error details (only present when status is "failed")
                  created_at:
                    type: string
                    format: date-time
                    description: When the job was created
        '401':
          description: The user must be authenticated.
        '404':
          description: Job not found or does not belong to the authenticated user.
        '500':
          description: Internal server error
  /login/device/new:
    post:
      security: []
      tags:
        - Device Authorization Flow
      summary: Start the flow
      description: |
        Starts a new device login for the user.
        When you receive the `verificationUri` and `userCode` (or `verificationUriComplete`)
        field you should redirect the user to the url to approve access. The user may need to type
        in the `userCode` to approve access.
        The user must approve within `expiresIn` seconds or the flow will fail.
      operationId: login_device_new
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginDeviceNewRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginDeviceNewResponse'
        '500':
          description: Internal server error
  /login/device/token:
    post:
      security: []
      tags:
        - Device Authorization Flow
      summary: Poll for the api key
      description: |
        Poll for the new api key after starting the flow. The user must approve access via the Player2 website at the url
        provided in the `verification_uri` (or `verification_uri_complete`) field of the response to `/login/device/new`.
      operationId: login_device_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginDeviceTokenRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginDeviceTokenResponse'
        '500':
          description: Internal server error
  /login/authorization_code/token:
    post:
      security: []
      tags:
        - Authorization Code Flow
      summary: Exchange authorization code for API key
      description: |
        Exchange an authorization code for a P2 API key using OAuth2 Authorization Code flow with PKCE.
        This endpoint should be called after obtaining an authorization code from the authorization server.
      operationId: login_authorization_code_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginAuthorizationCodeTokenRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginAuthorizationCodeTokenResponse'
        '400':
          description: |
            Invalid request. Common errors:
            - `invalid_request`: Missing or invalid required parameters
            - `invalid_grant`: Invalid authorization code, expired, or PKCE validation failed
            - `unsupported_grant_type`: Grant type is not `authorization_code`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
        '500':
          description: Internal server error
  /health:
    get:
      tags:
        - Health
      summary: Check the health of the API
      description: ""
      operationId: health
      security:
        - BearerAuth: []
        - TokenAuth: []
        - CookieAuth: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /tts/voices:
    get:
      security: []
      tags:
        - Text To Speech
      summary: Get available voices
      description: |
        This endpoint returns a list of available voices that can be used with the `/tts/speak` endpoint. You can even mix and match voices
        together by providing multiple ids.
      operationId: tts_voices
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TTSVoicesResponse'
  /tts/inworld-voices:
    get:
      tags:
        - Text To Speech
      summary: Get user's Inworld voices
      description: |
        Returns the authenticated user's custom Inworld voices (both cloned and added by ID).
        These voice IDs can be used with the `/tts/speak` and `/tts/stream` endpoints via `voice_ids`.
        Requires an active patron subscription to use Inworld voices.
      operationId: tts_inworld_voices
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TTSInworldVoicesResponse'
        '401':
          description: The user must be authenticated.
        '500':
          description: Internal server error
  /tts/speak:
    post:
      tags:
        - Text To Speech
      summary: Speak text
      description: |
        This endpoint returns the full audio file for the text and voice provided.
      operationId: tts_speak
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TTSSpeakRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TTSSpeakResponse'
        '402':
          description: Insufficient credits to complete the request.
        '400':
          description: Invalid request
        '401':
          description: The user must be authenticated.
        '500':
          description: Internal server error
  /tts/stream:
    post:
      tags:
        - Text To Speech
      summary: Stream text-to-speech audio
      description: |
        This endpoint returns streaming audio data for the text and voice provided,
        allowing for real-time audio playback as the audio is being synthesized.
        Streaming only supports WAV and MP3 audio formats.
      operationId: tts_stream
      parameters:
        - in: query
          name: disable-advanced
          required: false
          schema:
            type: boolean
            default: false
          description: If true, forces the use of Kokoro instead of Resemble even for patrons
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TTSStreamRequest'
        required: true
      responses:
        '200':
          description: Streaming audio data
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                description: Streaming binary audio data
        '402':
          description: Insufficient credits to complete the request.
        '400':
          description: Invalid request
        '401':
          description: The user must be authenticated.
        '500':
          description: Internal server error
  /stt/stream:
    get:
      tags:
        - Speech To Text
      summary: Real-time speech to text WebSocket stream
      description: |
        Establishes a WebSocket connection for real-time speech-to-text transcription.

        **WebSocket Protocol:**
        - Upgrade to WebSocket using standard WebSocket handshake
        - Send binary audio data (PCM/linear16 format by default)
        - Receive JSON messages wrapped in STTEnvelope format

        **Message Format:**
        All WebSocket messages follow the `STTEnvelope` schema with event-specific data.

        **Event Types:**
        - `session`: Connection established with stream_id (`STTSessionEvent`)
        - `open`: Transcriber connection opened (`STTOpenEvent`)
        - `message`: Transcription result - interim or final (`STTMessageEvent`)
        - `speech_started`: Voice activity detected (`STTSpeechStartedEvent`) - if vad_events=true
        - `utterance_end`: End of speech detected (`STTUtteranceEndEvent`) - if utterance_end_ms is set
        - `error`: Error occurred (`STTErrorEvent`)
        - `close`: Connection closed (`STTCloseEvent`)

        **Audio Requirements:**
        - Format: PCM/linear16 (16-bit signed integers)
        - Sample Rate: As specified in sample_rate parameter (typically 44100 or 48000)
        - Channels: Mono (1 channel)
        - Send audio in ~50ms chunks for best results

        See the `STTEnvelope` and related schemas by expanding data field of 101 response:
      operationId: stt_stream
      security:
        - TokenAuth: []
        - BearerAuth: []
        - CookieAuth: []
      parameters:
        - name: language
          in: query
          schema:
            type: string
            enum: ["multi", "en", "en-US", "en-AU", "en-GB", "en-NZ", "en-IN", "es", "es-419", "fr", "fr-CA", "de", "de-CH", "it", "pt", "pt-BR", "pt-PT", "ru", "hi", "ja", "ko", "ko-KR", "zh", "zh-CN", "zh-TW", "zh-HK", "nl", "nl-BE", "tr", "pl", "sv", "sv-SE", "no", "da", "da-DK", "fi", "uk", "el", "cs", "hu", "ar", "ar-AE", "ar-DZ", "ar-EG", "ar-IQ", "ar-IR", "ar-JO", "ar-KW", "ar-LB", "ar-MA", "ar-PS", "ar-QA", "ar-SA", "ar-SD", "ar-SY", "ar-TD", "ar-TN", "be", "bn", "bs", "bg", "ca", "hr", "et", "he", "id", "kn", "lv", "lt", "mk", "ms", "mr", "fa", "ro", "sr", "sk", "sl", "tl", "ta", "te", "th", "ur", "vi"]
            default: "en-US"
          description: BCP-47 language tag for transcription
        - name: encoding
          in: query
          schema:
            type: string
            enum: ["linear16", "flac", "mulaw", "alaw", "mp3", "mp4", "opus", "wav"]
            default: "linear16"
          description: Audio encoding format
        - name: sample_rate
          in: query
          required: true
          schema:
            type: string
            pattern: "^[1-9]\\d*$"
          description: Audio sample rate in Hz (e.g., "44100", "48000")
        - name: interim_results
          in: query
          schema:
            type: boolean
            default: false
          description: Enable real-time interim transcription results
        - name: utterance_end_ms
          in: query
          schema:
            type: string
            pattern: "^(100[0-9]|10[1-9][0-9]|1[1-9][0-9][0-9]|[2-4][0-9][0-9][0-9]|5000)$"
          description: Milliseconds to wait before sending utterance end event (1000-5000ms)
        - name: diarize
          in: query
          schema:
            type: boolean
            default: false
          description: Enable speaker diarization (identify different speakers)
        - name: vad_events
          in: query
          schema:
            type: boolean
            default: false
          description: Enable voice activity detection events
        - name: stream_id
          in: query
          schema:
            type: string
            format: uuid
          description: Optional stream ID to reconnect to existing session
      responses:
        '101':
          description: WebSocket connection established. Messages follow STTEnvelope schema.
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/STTEnvelope'
              examples:
                session_event:
                  summary: Session establishment
                  value:
                    type: "session"
                    stream_id: "123e4567-e89b-12d3-a456-426614174000"
                    timestamp: 1640995200000
                    data:
                      stream_id: "123e4567-e89b-12d3-a456-426614174000"
                message_event:
                  summary: Transcription result
                  value:
                    type: "message"
                    stream_id: "123e4567-e89b-12d3-a456-426614174000"
                    timestamp: 1640995201500
                    data:
                      channel:
                        alternatives:
                          - transcript: "Hello world"
                            confidence: 0.98
                      is_final: true
                error_event:
                  summary: Error occurred
                  value:
                    type: "error"
                    stream_id: "123e4567-e89b-12d3-a456-426614174000"
                    timestamp: 1640995201500
                    data:
                      err_code: "CONNECTION_FAILED"
                      err_msg: "Failed to establish connection to transcription service"
        '400':
          description: Invalid request parameters
        '401':
          description: The user must be authenticated.
        '500':
          description: Internal server error
  /stt/audio:
    post:
      tags:
        - Speech To Text
      summary: Transcribe audio file
      description: |
        Transcribes an audio file to text using speech-to-text technology.

        **Audio Requirements:**
        - Send the raw audio bytes in the request body as application/octet-stream
        - Specify the audio format via the `encoding` query parameter (linear16, flac, mulaw, alaw, mp3, mp4, opus, wav)
        - Specify the sample rate via the `sample_rate` query parameter (e.g., "44100", "48000")
      operationId: stt_audio
      parameters:
        - name: encoding
          in: query
          schema:
            type: string
            enum: ["linear16", "flac", "mulaw", "alaw", "mp3", "mp4", "opus", "wav"]
          description: Audio encoding format
        - name: sample_rate
          in: query
          schema:
            type: string
            pattern: "^[1-9]\\d*$"
          description: Audio sample rate in Hz (e.g., "44100", "48000")
        - name: language
          in: query
          schema:
            type: string
            enum: ["multi", "en", "en-US", "en-AU", "en-GB", "en-NZ", "en-IN", "es", "es-419", "fr", "fr-CA", "de", "de-CH", "it", "pt", "pt-BR", "pt-PT", "ru", "hi", "ja", "ko", "ko-KR", "zh", "zh-CN", "zh-TW", "zh-HK", "nl", "nl-BE", "tr", "pl", "sv", "sv-SE", "no", "da", "da-DK", "fi", "uk", "el", "cs", "hu", "ar", "ar-AE", "ar-DZ", "ar-EG", "ar-IQ", "ar-IR", "ar-JO", "ar-KW", "ar-LB", "ar-MA", "ar-PS", "ar-QA", "ar-SA", "ar-SD", "ar-SY", "ar-TD", "ar-TN", "be", "bn", "bs", "bg", "ca", "hr", "et", "he", "id", "kn", "lv", "lt", "mk", "ms", "mr", "fa", "ro", "sr", "sk", "sl", "tl", "ta", "te", "th", "ur", "vi"]
          description: BCP-47 language tag for transcription
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: 'Transcription successful'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscription'
        '400':
          description: Invalid request parameters or audio format
        '401':
          description: The user must be authenticated.
        '402':
          description: Insufficient credits to complete the request.
        '500':
          description: Internal server error
  /selected_characters:
    get:
      tags:
        - Characters
      summary: Get User "My AI Friends" characters
      description: |
        This endpoint returns a list of characters that the user has selected as "My AI Friends" characters.
      operationId: selected_characters
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SelectedCharactersResponse'
        '401':
          description: The user must be authenticated.
        '500':
          description: Internal server error
  /joules:
    get:
      tags:
        - Joules
      summary: Get user joule balance and patron tier
      description: |
        Returns the user's current joule balance and their patron tier.
        If the user is not a patron, patron_tier will be an empty string.
      operationId: get_joules
      responses:
        '200':
          description: Successfully retrieved joule information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoulesResponse'
        '401':
          description: The user must be authenticated.
        '500':
          description: Internal server error
  /minecraft/schematics/{id}:
    get:
      tags:
        - Minecraft Schematics
      summary: Get Minecraft schematic by ID
      description: |
        Retrieves a Minecraft schematic file by its ID. The schematic data is returned as base64-encoded bytes that can be decoded and used in your Minecraft integration.

        ## Usage

        ```bash
        curl -X GET "https://api.player2.game/v1/minecraft/schematics/{schematic_id}" \
          -H "Authorization: Bearer YOUR_TOKEN"
        ```

        The response contains the schematic data encoded in base64 format, which you can decode and use directly in your Minecraft world generation or building systems.
      operationId: get_minecraft_schematic
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier of the schematic to retrieve
          example: 'castle_tower_01'
      responses:
        '200':
          description: Schematic retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MinecraftSchematicResponse'
        '404':
          description: Schematic not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
              example:
                message: "Schematic with id 'invalid_id' not found"
        '400':
          description: Bad request - invalid input. URL parameters must contain valid UUID.
        '401':
          description: Authentication required - provide a valid Bearer token
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error

  /minecraft/schematics/search:
    post:
      tags:
        - Minecraft Schematics
      summary: Search for minecraft schematics by name, returning a list of descriptions and IDs
      description: |

        ## Usage

        ```bash
        curl -X POST "https://api.player2.game/v1/minecraft/schematics/search" \
          -H "Authorization: Bearer YOUR_TOKEN"
          -H "Content-Type: application/json" \
          -d '{
            "query": "House",
          }'
        ```

        The response contains a list of
      operationId: search_minecraft_schematic
      requestBody:
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/MinecraftSchematicSearchRequest'
        required: true
      responses:
        '200':
          description: Schematic search done successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MinecraftSchematicSearchResponse'
        '401':
          description: Authentication required - provide a valid Bearer token
        '429':
          description: Rate limit exceeded
        '500':
          description: Internal server error
  /npcs/responses:
    x-ogen-operation-group: NPC
    get:
      tags:
        - NPC
      summary: Get real-time NPC chat responses
      operationId: npc_chat_stream
      description: |
        Establishes a persistent connection to receive real-time responses from all your NPCs. This endpoint supports both Server-Sent Events (SSE) and newline-delimited JSON streaming based on the `Accept` header.

        ## Content Types

        - **`application/json`**: Returns newline-delimited JSON responses
        - **`text/event-stream`**: Returns Server-Sent Events following the EventSource specification

        ## How It Works

        - **Keep the connection open**: This endpoint is designed for long-lived connections during active gameplay
        - **Automatic routing**: Each response includes an `npc_id` so you can route replies to the correct NPC
        - **Multiple response types**: Responses can contain text messages, function calls, and/or audio data
        - **Automatic play tracking**: While connected, your play time is automatically tracked (no need to ping `/health`)

        ## Response Formats

        ### JSON Format (application/json)
        Each line in the stream contains a complete JSON object:
        ```json
        {"npc_id": "123e4567-e89b-12d3-a456-426614174000", "message": "Ahoy there, matey!", "audio": {...}, "command": null, "error": null}
        {"npc_id": "123e4567-e89b-12d3-a456-426614174000", "message": "", "audio": null, "command": [{"name": "set_weather", "arguments": {"condition": "stormy"}}], "error": null}
        ```

        ### EventSource Format (text/event-stream)
        Follows the EventSource specification with `id:`, `event:`, and `data:` fields:
        ```
        id: 1
        event: npc_response
        data: {"npc_id": "123e4567-e89b-12d3-a456-426614174000", "message": "Ahoy there, matey!", "audio": {...}, "command": null, "error": null}

        id: 2
        event: npc_response
        data: {"npc_id": "123e4567-e89b-12d3-a456-426614174000", "message": "", "audio": null, "command": [{"name": "set_weather", "arguments": {"condition": "stormy"}}], "error": null}

        event: ping
        data: {"type": "ping"}
        ```

        **Note**: Ping events are sent every 15 seconds to keep connections alive. They have no `id` field and are automatically filtered out for `application/json` clients.

        ## Integration Tips

        - **JSON Format**: Parse each line as separate JSON (newline-delimited JSON format)
        - **EventSource Format**: Use the browser's EventSource API or equivalent SSE client
        - Handle connection drops gracefully and reconnect as needed
        - Buffer responses if your game loop can't process them immediately
        - Use the `npc_id` to update the correct character's dialogue in your UI
        - **Error Handling**: Check the `error` field in each response. When present, display the error message to users and handle accordingly:
          - `insufficient_credits`: Show users they need to top up their AI power in the Player2 app
          - `service_unavailable`: Inform users the service is temporarily down and to try again later
          - `rate_limited`: Implement backoff and retry logic based on `retry_after` value

        ## Examples

        ### JSON Streaming
        ```bash
        curl -X GET "https://api.player2.game/v1/npcs/responses" \
          -H "Authorization: Bearer YOUR_TOKEN" \
          -H "Accept: application/json" \
          -N --http2
        ```

        ### EventSource/SSE
        ```bash
        curl -X GET "https://api.player2.game/v1/npcs/responses" \
          -H "Authorization: Bearer YOUR_TOKEN" \
          -H "Accept: text/event-stream" \
          -N --http2
        ```

        ```javascript
        // Browser EventSource example
        const eventSource = new EventSource('/npcs/responses', {
          headers: { 'Authorization': 'Bearer YOUR_TOKEN' }
        });
        eventSource.addEventListener('npc_response', (event) => {
          const data = JSON.parse(event.data);
          console.log('NPC Response:', data);
        });
        ```
      parameters:
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            enum: ["application/json", "text/event-stream"]
            default: "application/json"
          description: |
            Content type for the response stream:
            - `application/json`: Newline-delimited JSON streaming
            - `text/event-stream`: Server-Sent Events following EventSource specification
        - in: query
          name: token
          required: false
          schema:
            type: string
          description: |
            Optional bearer token for clients (like EventSource) that cannot set the Authorization header.
            When provided, it should contain the same value you'd otherwise pass as a Bearer token.
        - in: query
          name: tts-streaming
          required: false
          schema:
            type: boolean
            default: false
          description: |
            If true, TTS audio is streamed as base64 PCM16 chunks and the text is sent immediately.
            If false (default), TTS is generated synchronously and the text is not sent early.
      responses:
        '200':
          description: |
            Successful connection established. Response format depends on the Accept header:
            - `application/json`: Newline-delimited JSON streaming with each line containing a complete NpcApiChatResponse object
            - `text/event-stream`: Server-Sent Events following EventSource specification with JSON data in the data: field
          content:
            application/json:
              x-ogen-json-streaming: true
              schema:
                "$ref": "#/components/schemas/NpcApiChatResponse"
                format: binary
              examples:
                text_response:
                  summary: "Text message from NPC"
                  value: |
                    {"npc_id": "123e4567-e89b-12d3-a456-426614174000", "message": "Ahoy there, adventurer! The treasure ye seek lies beyond the stormy seas.", "audio": null, "command": null, "error": null}
                function_call:
                  summary: "NPC executing a function"
                  value: |
                    {"npc_id": "123e4567-e89b-12d3-a456-426614174000", "message": "", "audio": null, "command": [{"name": "set_weather", "arguments": {"condition": "stormy"}}], "error": null}
                text_with_audio:
                  summary: "Text message with TTS audio"
                  value: |
                    {"npc_id": "123e4567-e89b-12d3-a456-426614174000", "message": "Welcome to me ship!", "audio": {"data": "base64-encoded-audio-data"}, "command": null, "error": null}
                insufficient_credits_error:
                  summary: "Error response when user runs out of AI power"
                  value: |
                    {"npc_id": "123e4567-e89b-12d3-a456-426614174000", "message": "", "audio": null, "command": null, "error": {"error_code": "insufficient_credits", "error_message": "Insufficient AI power for completing the request. Get more AI power from https://player2.game/profile/ai-power.", "retry_after": null}}
                service_unavailable_error:
                  summary: "Error response when AI service is temporarily unavailable"
                  value: |
                    {"npc_id": "123e4567-e89b-12d3-a456-426614174000", "message": "", "audio": null, "command": null, "error": {"error_code": "service_unavailable", "error_message": "AI service is temporarily unavailable. Please try again in a few moments.", "retry_after": 30}}
            text/event-stream:
              schema:
                type: string
                format: binary
                description: |
                  Server-Sent Events stream following EventSource specification. Events include:

                  **NPC Response Events:**
                  - `id`: Unique event identifier (incremental integer)
                  - `event`: Event type ("npc_response")
                  - `data`: JSON-encoded NpcApiChatResponse object (same format as application/json)

                  **NPC Audio Chunk Events (when TTS streaming is enabled):**
                  - `event`: Event type ("npc-audio-chunk")
                  - `data`: JSON object with the following shape:
                  - `type`: Always "pcm16" (indicates PCM16 LE audio)
                  - `npc_id`: UUID of the NPC
                  - `data`: Base64-encoded PCM16 bytes for this chunk (may be empty when `final` is true)
                  - `initial` (boolean, optional): Present and set to true on the first audio chunk only
                  - `sample_rate` (integer, Hz, optional): Present on the first chunk only; sample rate of the stream (e.g., 24000)
                  - `final` (boolean, optional): Present and set to true on the last chunk

                  **Ping Events (sent every 15 seconds):**
                  - `event`: Event type ("ping")
                  - `data`: JSON object `{"type": "ping"}`
                  - No `id` field (ping events don't need IDs)
              examples:
                text_response:
                  summary: "Text message from NPC in EventSource format"
                  value: |
                    id: 1
                    event: npc_response
                    data: {"npc_id": "123e4567-e89b-12d3-a456-426614174000", "message": "Ahoy there, adventurer! The treasure ye seek lies beyond the stormy seas.", "audio": null, "command": null, "error": null}

                function_call:
                  summary: "NPC executing a function in EventSource format"
                  value: |
                    id: 2
                    event: npc_response
                    data: {"npc_id": "123e4567-e89b-12d3-a456-426614174000", "message": "", "audio": null, "command": [{"name": "set_weather", "arguments": {"condition": "stormy"}}], "error": null}

                text_with_audio:
                  summary: "Text message with TTS audio in EventSource format"
                  value: |
                    id: 3
                    event: npc_response
                    data: {"npc_id": "123e4567-e89b-12d3-a456-426614174000", "message": "Welcome to me ship!", "audio": {"data": "base64-encoded-audio-data"}, "command": null, "error": null}

                insufficient_credits_error:
                  summary: "Error response in EventSource format"
                  value: |
                    id: 4
                    event: npc_response
                    data: {"npc_id": "123e4567-e89b-12d3-a456-426614174000", "message": "", "audio": null, "command": null, "error": {"error_code": "insufficient_credits", "error_message": "Insufficient AI power for completing the request. Get more AI power from https://player2.game/profile/ai-power.", "retry_after": null}}

                service_unavailable_error:
                  summary: "Service unavailable error in EventSource format"
                  value: |
                    id: 5
                    event: npc_response
                    data: {"npc_id": "123e4567-e89b-12d3-a456-426614174000", "message": "", "audio": null, "command": null, "error": {"error_code": "service_unavailable", "error_message": "AI service is temporarily unavailable. Please try again in a few moments.", "retry_after": 30}}

                ping_event:
                  summary: "Ping event sent every 15 seconds to keep connection alive"
                  value: |
                    event: ping
                    data: {"type": "ping"}
                audio_chunk_initial:
                  summary: "First audio chunk (includes initial=true and sample_rate)"
                  value: |
                    id: 6
                    event: npc-audio-chunk
                    data: {"type": "pcm16", "npc_id": "123e4567-e89b-12d3-a456-426614174000", "data": "<base64>", "initial": true, "sample_rate": 24000}
                audio_chunk_continue:
                  summary: "Subsequent audio chunk"
                  value: |
                    id: 7
                    event: npc-audio-chunk
                    data: {"type": "pcm16", "npc_id": "123e4567-e89b-12d3-a456-426614174000", "data": "<base64>"}
                audio_chunk_final:
                  summary: "Final audio chunk (final=true; data may be empty)"
                  value: |
                    id: 8
                    event: npc-audio-chunk
                    data: {"type": "pcm16", "npc_id": "123e4567-e89b-12d3-a456-426614174000", "data": "", "final": true}
        '401':
          description: Authentication required - provide a valid Bearer token
        '429':
          description: Rate limit exceeded - too many concurrent connections
        '500':
          description: Internal server error - try reconnecting after a brief delay
  /npcs/spawn:
    x-ogen-operation-group: NPC
    post:
      tags:
      - NPC
      summary: "Spawn a new AI-powered NPC"
      description: |
        Creates a new Non-Player Character with a unique personality, voice, and set of capabilities. The NPC will maintain its own conversation history and can respond to player messages, execute custom functions, and provide text-to-speech audio responses.

        ## What You Can Configure

        - **Personality & Behavior**: Define the character's description and system instructions
        - **Voice**: Choose from available text-to-speech voices for audio responses
        - **Custom Functions**: Give the NPC abilities to interact with your game world
        - **Conversation Persistence**: Control whether game state is remembered between messages

        ## Function Capabilities

        NPCs can execute custom functions in your game, such as:
        - Modifying game state (weather, time, inventory)
        - Triggering events or cutscenes
        - Providing game information (quests, locations, items)
        - Controlling other game systems

        Each function can optionally prevent the NPC from sending a text response, useful for silent actions.

        ## Example Usage

        ```bash
        curl -X POST "https://api.player2.game/v1/npcs/spawn" \
          -H "Authorization: Bearer YOUR_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "name": "Merlin the Wise",
            "short_name": "Merlin",
            "character_description": "An ancient wizard with vast knowledge of magic and the realm",
            "system_prompt": "You are Merlin, a wise and helpful wizard. Speak with wisdom and offer magical assistance to worthy adventurers. You can cast spells to help players.",
            "tts": {
              "voice_ids": ["21m00Tcm4TlvDq8ikWAM"],
              "speed": 0.9,
              "audio_format": "mp3",
              "voice_gender": "male"
            },
            "keep_game_state": true,
            "commands": [
              {
                "name": "cast_spell",
                "description": "Cast a magical spell with various effects",
                "parameters": {
                  "type": "object",
                  "properties": {
                    "spell_name": {
                      "type": "string",
                      "description": "Name of the spell to cast"
                    },
                    "target": {
                      "type": "string",
                      "description": "Target of the spell (player, enemy, environment)"
                    }
                  },
                  "required": ["spell_name"]
                },
                "never_respond_with_message": false
              }
            ]
          }'
        ```

        ## Response

        Returns a UUID that uniquely identifies your new NPC. Use this ID for all subsequent interactions.

      operationId: create_ai_npc
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SpawnNPC"
        required: true
      responses:
        '200':
          description: |
            NPC successfully created. The response contains the unique identifier for your new NPC.
            Use this UUID for sending messages, receiving responses, and eventually removing the NPC.
          content:
            application/json:
              schema:
                type: string
                format: uuid
                description: "Unique identifier for the newly created NPC"
              example: "123e4567-e89b-12d3-a456-426614174000"
        '400':
          description: Invalid request - check your character configuration and function definitions
        '401':
          description: Authentication required - provide a valid Bearer token
        '429':
          description: Rate limit exceeded - too many NPCs created recently
        '500':
          description: Internal server error - please try again
  /npcs/{npc_id}/chat:
    x-ogen-operation-group: NPC
    post:
      tags:
      - NPC
      summary: "Send message to an NPC"
      description: |
        Sends a player’s message to an NPC that you previously spawned with `/npcs/spawn`.

        - Provide the `npc_id` of the target NPC in the path.
        - The request includes the player’s name, message, and optional game state info.
        - You can also specify TTS options so responses come back with audio.
      operationId: npc_chat
      parameters:
      - name: npc_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: "UUID of the NPC to send the message to (returned from /npcs/spawn)"
        example: "123e4567-e89b-12d3-a456-426614174000"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/NpcChatCompletionRequest"
        required: true
      responses:
        '200':
          description: |
            Message successfully received and queued for processing. The NPC will generate a response that will be streamed to the `/npcs/responses` endpoint.
            Listen to that endpoint to receive the NPC's reply.
        '404':
          description: NPC not found - the specified npc_id does not exist or has been deleted
        '401':
          description: Authentication required - provide a valid Bearer token
        '429':
          description: Rate limit exceeded - too many messages sent recently
        '500':
          description: Internal server error - please try again
  /npcs/{npc_id}/kill:
    x-ogen-operation-group: NPC
    post:
      tags:
      - NPC
      summary: "Remove an NPC"
      description: |
        Permanently removes an NPC from the system, including all its conversation history, personality state, and any associated data. This action cannot be undone.

        ## What Gets Deleted

        - **NPC identity and configuration**: Name, personality, voice settings, and functions
        - **Conversation history**: All past messages and interactions with players
        - **Internal state**: Any learned behaviors or temporary memory
        - **Pending responses**: Any queued but undelivered messages from this NPC

        ## When to Use

        - **End of gameplay session**: Clean up NPCs when players disconnect or finish playing
        - **Character lifecycle**: Remove NPCs that are no longer relevant to the story
        - **Resource management**: Free up resources by removing unused NPCs
        - **Privacy compliance**: Ensure player conversation data is deleted when requested

        ## Important Notes

        - This action is **irreversible** - you cannot recover the NPC or its data after deletion
        - Any pending messages from this NPC will be discarded
        - The `npc_id` becomes invalid and cannot be reused
        - No further responses will be generated from this NPC

        ## Example Usage

        ```bash
        curl -X POST "https://api.player2.game/v1/npcs/{npc_id}/kill" \
          -H "Authorization: Bearer YOUR_TOKEN"
        ```
      operationId: kill_npc
      parameters:
      - name: npc_id
        description: "UUID of the NPC to remove (returned from /npcs/spawn)"
        example: "123e4567-e89b-12d3-a456-426614174000"
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: |
            NPC successfully removed. The NPC and all its associated data have been permanently deleted.
            The npc_id is now invalid and cannot be used for further operations.
        '404':
          description: NPC not found - the specified npc_id does not exist or has already been deleted
        '401':
          description: Authentication required - provide a valid Bearer token
        '500':
          description: Internal server error - please try again
  /npcs/{npc_id}/history:
    x-ogen-operation-group: NPC
    get:
      tags:
      - NPC
      summary: "Get NPC conversation history"
      description: |
        Retrieves the complete conversation history for a specific NPC, including all messages exchanged between players and the NPC.

        ## What is Returned

        - **Full conversation history**: All user and assistant messages in chronological order
        - **Message format**: Standard message objects with role, content, and optional metadata
        - **Conversation context**: The complete context that the NPC uses to generate responses

        ## Use Cases

        - **Save/load game state**: Persist NPC conversation history across game sessions
        - **Debug conversations**: Inspect the full conversation flow for troubleshooting
        - **Analytics and insights**: Analyze player-NPC interaction patterns
        - **Context sharing**: Share NPC conversation history between different parts of your game

        ## Example Usage

        ```bash
        curl -X GET "https://api.player2.game/v1/npcs/{npc_id}/history" \
          -H "Authorization: Bearer YOUR_TOKEN"
        ```
      operationId: get_npc_history
      parameters:
      - name: npc_id
        description: "UUID of the NPC to get conversation history for (returned from /npcs/spawn)"
        example: "123e4567-e89b-12d3-a456-426614174000"
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: |
            Successfully retrieved NPC conversation history. Contains all messages in chronological order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NpcHistoryResponse'
              examples:
                history_example:
                  summary: "Example NPC conversation history"
                  value:
                    npc_id: "123e4567-e89b-12d3-a456-426614174000"
                    history:
                      - role: "user"
                        content: "Hello there, what's your name?"
                      - role: "assistant"
                        content: "Ahoy! I'm Captain Blackbeard, the fiercest pirate on these seas!"
                      - role: "user"
                        content: "Can you help me find treasure?"
                      - role: "assistant"
                        content: "Aye, I know where the golden doubloons be buried! Follow me compass, matey."
        '404':
          description: NPC not found - the specified npc_id does not exist or has been deleted
        '401':
          description: Authentication required - provide a valid Bearer token
        '500':
          description: Internal server error - please try again
  /model3d/generate_from_image:
    post:
      tags:
        - 3D Model Generation
      summary: Generate a 3D model from an image
      description: |
        Generate a 3D model (GLB file) from an input image asynchronously.
        Returns a job_id immediately - poll GET /jobs/{job_id} for status and result.

        The 3D model provider is determined by your account settings (see PUT /me/model3d-provider).
      operationId: model3d_generate_from_image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  description: >
                    Base64-encoded input image (JPEG or PNG), a data-URL, or
                    an existing image asset UUID. When a UUID is provided the
                    server fetches the asset data automatically (the asset must
                    be owned by the caller and have an image/* MIME type).
                project_id:
                  type: string
                  format: uuid
                  description: Optional project to assign this generated 3D model asset to
                name:
                  type: string
                  description: Human-readable name for the asset
                description:
                  type: string
                  description: Description of the asset
      responses:
        '200':
          description: Job created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                    description: Job ID to poll for status
                  out_of_credits:
                    type: object
                    description: Present if the user does not have enough credits
        '400':
          description: Invalid request - image or provider missing/invalid
        '401':
          description: Authentication required
        '402':
          description: Insufficient credits to complete the request
        '403':
          description: Patron subscription required for this provider
        '500':
          description: Internal server error
  /text3d/generate:
    post:
      tags:
        - Text-to-3D Generation
      summary: Generate a 3D model from a text prompt
      description: |
        Generate a 3D model (GLB file) from a text description asynchronously.
        Returns a job_id immediately - poll GET /jobs/{job_id} for status and result.
        The text-to-3D provider is determined by your account settings.
      operationId: text3d_generate_from_text
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prompt
              properties:
                prompt:
                  type: string
                  description: Text description of the 3D model to generate
      responses:
        '200':
          description: Job created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                    description: Job ID to poll for status
                  out_of_credits:
                    type: object
                    description: Present if the user does not have enough credits
        '400':
          description: Invalid request - prompt missing/invalid
        '401':
          description: Authentication required
        '402':
          description: Insufficient credits to complete the request
        '403':
          description: Patron subscription required
        '500':
          description: Internal server error
  /embeddings:
    post:
      tags:
        - Embeddings
      summary: Create embeddings
      description: |
        Generate vector embeddings for the given input text. OpenAI-compatible
        (`POST /v1/embeddings`): `input` may be a single string or an array of strings,
        and the response returns one embedding per input (each `data` item's `index` is the
        0-based position of its input in the request). Billed per input token.

        **Limits (for batching/chunking):**
        - Max **100 inputs** per request (exceeding returns 400).
        - Max **8192 tokens per input** (OpenAI text-embedding-3 models); larger inputs are
          rejected by the provider.
      operationId: embeddings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request to create embeddings
              required:
                - input
              properties:
                model:
                  type: string
                  description: ID of the embedding model to use (e.g. text-embedding-3-small). Defaults to your selected model.
                input:
                  description: Input text to embed, as a string or an array of strings.
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                dimensions:
                  type: integer
                  minimum: 1
                  description: Optional number of output dimensions (supported by text-embedding-3 models).
      responses:
        '200':
          description: Embeddings created
          content:
            application/json:
              schema:
                type: object
                description: Embedding response
                required:
                  - object
                  - data
                  - model
                  - usage
                properties:
                  object:
                    type: string
                    description: Always "list".
                  data:
                    type: array
                    description: One embedding object per input, in input order.
                    items:
                      type: object
                      required:
                        - object
                        - index
                        - embedding
                      properties:
                        object:
                          type: string
[...]
